[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PulseAudio Recorder
GenericName=Pulse Audio Recorder
Comment=Record from any audio stream handled by PulseAudio
Exec=PulseAudioRecorder
Icon=/usr/share/icons/PulseAudioUtils/icons/mic-rec.png
StartupNotify=true
Type=Application
Categories=Audio;X-MandrivaLinux-Multimedia-Sound;
X-Desktop-File-Install-Version=0.21
Terminal=false
