[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PulseAudio ControlPanel
GenericName=Pulse Audio Control Panel
Comment=Control Panel of Launchers for Pulse Audio utilities
Exec=PulseAudioControlPanel
Icon=/usr/share/icons/PulseAudioUtils/icons/pa-cp.png
StartupNotify=true
Type=Application
Categories=Audio;X-MandrivaLinux-Multimedia-Sound;
X-Desktop-File-Install-Version=0.21
Terminal=false
