[Desktop Entry]
Categories=AudioVideo;Audio;Mixer;GTK;X-MandrivaLinux-Multimedia-Sound;
Comment[en_GB]=PulseAudioEqualizer
Comment=PulseAudioEqualizer
Encoding=UTF-8
Exec=qpaeq
GenericName[en_GB]=PulseAudio Equalizer
GenericName=PulseAudio Equalizer
Icon=/usr/share/icons/PulseAudioUtils/equalizer.png
MimeType=
Name[en_GB]=PulseAudio Equaliser
Name=PulseAudio Equalizer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.11
X-KDE-SubstituteUID=false
X-KDE-Username=
